@font-face {
      font-family: adrip1;
  src: url(adrip1.ttf);
  }
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@900&display=swap');
a { }

* {
  box-sizing: border-box;
}
#VideoDIV {
position: fixed;
z-index: -1;
}
#vid {
	/*object-fit: fill; */
}
.snippet_info {
	font-family: 'Teko', sans-serif;
}
	
@media (min-width: 700px) {
.Container {
	 display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-auto-rows: minmax(57px, auto);
  grid-template-areas: 'motd news. .' 'text text text text' 'buttonz buttonz buttonz buttonz' 'myArea myArea myArea myArea' 'snippets snippets snippets snippets' 'gangs members blank .' 'footer footer footer footer';
  }
}
@media screen and (max-width: 700px) {
	.Container {
	display: flex;
	flex-direction: column;
	 justify-content: space-between;
    align-items: center;
	}
	.d { 
	align-self: normal;
	}
	.menuitems ul {
    max-width: 100%;
	}
	html, body {width: auto!important; overflow-x: hidden!important}
}

.Container > div {

}
.teams {
	width: 300px;
}
.A {
	grid-area: myArea;
	font-family: 'Teko', sans-serif;
    justify-self: center;
}
.B {
	font-family: 'Teko', sans-serif;
font-size: 30px;
max-height: 150px;
overflow-y: auto;
padding: 20px;
grid-area: motd;
}

.C {
	font-family: 'Teko', sans-serif;
font-size: 30px;
background-color: rgba(0, 0, 0, 0.8);
padding: 20px;
grid-area: blank;
align-self: stretch;

border-image: url('/images/info_box.png') 23;
}

.K.buttonz {
  position: absolute;
  z-index: 999;
}
video {
    object-fit: cover;
}
.C2 {
	font-family: 'Teko', sans-serif;
font-size: 1em;
overflow-y: auto;
grid-area: gangcreation;
margin: auto;
}
.D {
	font-family: 'Indie Flower', cursive;
font-size: 30px;
max-height: 114px;
overflow-y: auto;
padding: 20px;
grid-area: text;
}
.E {
	font-family: 'Teko', sans-serif;
font-size: 30px;
max-height: 156px;
overflow-y: auto;
padding: 20px;
grid-area: news;
}
.F {
	font-family: 'Teko', sans-serif;
font-size: 30px;
background-color: rgba(0, 0, 0, 0.8);
padding: 20px;
grid-area: members;
align-self: stretch;

}
.G {
	font-family: 'Teko', sans-serif;
font-size: 30px;
background-color: rgba(41, 36, 36, 0.8);
max-height: 300px;
padding: 20px;
grid-area: Newest;
}
.H {
	font-family: 'Teko', sans-serif;
font-size: 30px;
background-color: rgba(41, 36, 36, 0.8);
max-height: 300px;
overflow-y: auto;
padding: 20px;
grid-area: footer;
}
.I {
	font-family: 'Teko', sans-serif;
font-size: 30px;
background-color: rgba(0, 0, 0, 0.8);
padding: 20px;
grid-area: gangs;
align-self: stretch;

}
.M {
grid-area: snippets;
background-color: rgba(41, 36, 36, 0.8);
order: 4;
width: 100%;
margin-left: 30px;
}
.I tr {
	background-color: transparent;
}
.I tr:nth-child(even) {
	background: transparent;
	}
.I tr:nth-child(odd) {
	background: transparent;
	}
#gangs	tr {
	background-color: transparent;
}
#gangs tr:nth-child(even) {
	background: transparent;
	}
#gangs tr:nth-child(odd) {
	background: #0b2d6c5e;
	}
.menuitems ul {
	 background-color: #000;
	 opacity: 0.7;
	 list-style-type: none;
	 padding: 10px;
}

body { 
margin: 0px;
}
.sidenav {

  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
	margin-right: 20px;
	border-top: solid 70px;
	border-bottom: solid 70px;
    border-image: url("images/info_box2.png") stretch 4;
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 10px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidenav ul {
	list-style-type: none;
}
/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #06E304;
}

.image1 { 
position: relative;
top: 39px;
z-index: 1;
display: block;
left: 75px;

}
.teams {
}
.image2 { 
 position: relative;
top: 25px;
left: 50%;
 transform: scaleY(-1);
}
.image3 { 
position: relative;
top: 46px;
z-index: 1;
display: block;
left: 75px;
}
.image4 { 
 transform: scaleY(-1);
 display: block;
position: relative;
bottom: 41px;
left: 75px;
}
#Gangs_Info {
	font-size: 2em;
}
#gang_info {
	font-size: 2em;
}
pre { 
 overflow-x: auto;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
}
.image0 {
 display: block;
 margin-left: auto;
 margin-right: auto;
 position: relative;
 z-index: 1;
 top: 64px;
}
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: url("../gifs/spin2.gif") center no-repeat; /* kewizzles spinner */
}

.info { 
color: red;
}
.menuitems {
		position: relative;
        top: -102px;
	/* position: absolute; */
	/* top: 14%; */
	/* left: 10%; */
	 ! text-align: center;
	  /* opacity: .50; /* Standard: FF gt 1.5, Opera, Safari, CSS3 */ */
    /* filter: alpha(opacity=50); /* IE lt 8 */ */
    /* -ms-filter: "alpha(opacity=50)"; /* IE 8 */ */
    /* -khtml-opacity: .50; /* Safari 1.x */ */
    /* -moz-opacity: .50; /* FF lt 1.5, Netscape */ */
    /* background-color: #000; */
}

.menuitems ul {
    width: 433px;
	max-height: 600px;
	overflow-y: auto;
	border: 4px solid;
border-image: url('/images/info_box2.png') stretch 8;
}
h1 {
	color: white;
  font-size: xx-large;
  text-align: center;
}
.gangcreation_container label {
	color: lime;
    display: inline-block;
    text-align: center;
	font-size: 2em;
}
.input-field input[type=submit]:hover {
  background-color: red; /* Green */

	
  }



.input-field input[type=submit] {
  background-color: gray; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
	font-family: adrip1;
	
  }
  input[type=text]:focus {
  background-color: lightblue;
}
.menuitems li {
	 font-size: 30px;
	 text-align: center;
}
.menuitems a:link {
	 text-decoration: none;
	 color: #fff;

}
.menuitems a:visited {
	 text-decoration: none;
	 color: #fff;
}
.menuitems a:hover {
	 
	 background-color: black;
	 color: red;
}


 /* Bordered form */
form {
  
}

/* Full-width inputs */
input.input-field[type=text], input.input-field[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: -webkit-box;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding-left: 36px;
  background-color: rgba(17, 5, 5, 0.6);
  color: #fff;
}
textarea {
	 background-color: rgba(17, 5, 5, 0.6);
  color: #fff;
}
/* Set a style for all buttons */

#gangCreateWrapper {
	
}
#GangCreation {
	background-color: rgba(17, 5, 5, 0.6);
	width: 400px;
}


.dropbtn {
  background-color: #000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-family: 'Teko', sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#profileul {
}
.card { 
position: relative;
top: 0px;
left: 0px;
text-align: center;
}
.card_profile { 

}
.card_avatar { 

}
.dropdown-content a:hover {background-color: #000;}

.dropdown:hover .dropdown-content {display: inline-block;}

.dropdown:hover .dropbtn {background-color: #000;}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
 
}

/* Add padding to containers */
.login_container {
  padding: 16px;
  text-align: center;
}
.gangcreation_container {
  padding: 16px;
  text-align: center;
}
/* The "Forgot password" text */
span.psw {
  /*! float: right; */
  
}
span.signup {
  /*! float: left; */
  /*! margin-right: 10px; */
}
/* Change styles for span and cancel button on extra small screens */

 .input-icons i {
            position: absolute;
        }
          
        .input-icons {
            width: 100%;
            margin-bottom: 10px;
			text-align: left;
        }
          
        .icon {
            padding: 10px;
            min-width: 40px;
        }
          
        .input-field {
            width: 100%;
            padding: 10px;
            text-align: left;
        }

#avatars{
  width:350px;
  height: 300px;
  overflow-y: auto;
}
.avatars > input{
  display: none;
}

.avatars > input + img{
  cursor: pointer;
  border: 2px solid transparent;
}

.avatars > input:checked + img{
  border: 2px solid red;
}


#butlogin {
	width: 100%;
	height: 40px;
}
 
#butreg {
width: 100%;
}
#VideoDIV {
	background-image: url('/img/saintsrow.jpg');
color:#fff;
text-align:center;
background-repeat: repeat;
background-attachment: fixed;
font-size: 12px;
font-family: ‘Dancing Script’, cursive;
-webkit-animation: backgroundScroll 15s linear infinite;
-webkit-animation-fill-mode: forwards;
animation: backgroundScroll 15s linear infinite;
animation-fill-mode: forwards;
}

@keyframes backgroundScroll {
from {background-position-y: 0;}
to {background-position-y: 180px;}
from {background-position-x: 0;}
to {background-position-x: 180px;}
}
@-webkit-keyframes backgroundScroll {
from {background-position-y: 0;}
to {background-position-y: 180px;}
from {background-position-x: 0;}
to {background-position-x: 180px;}
}
table, th, td {
  text-align: center;
}
table { 
width: 100%;
border-collapse: collapse;
}
#Avatar_display { 
float: right;
}
#member_display {
	font-size: 2em;
}
#gangs_display { 
font-size: 2em;
}
	#invitations { 
	border: 5px solid red;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
	border-image: url('images/info_box.png') stretch 19;
	background-color: black;
	color: white;
	}
	td {
		color: white;
	}
	tr:nth-child(even) {
		background: #4d55ca;
		}
	tr:nth-child(odd) {
		background: #000;
		}
@media (max-width: 1199px){
	
	.for-resposive-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 15px;
	}

	.B {
		background: black;
		font-size: 20px;
		width: 100%;
		text-align: center;
		order: 1;
	}

	div#C2 {
		order: 2;
		display: none;
	}

	div#menu {
		order: 3;
		position: relative;
		width: 100%;
		margin-bottom: 40px;
		margin-top: 40px;
	}

	.D.redlabel {
		order: 2;
		width: 100%;
		padding: 0px;
		display:none;
	}

	.I.redlabel {
		order: 4;
		width: 32%;
	}

	.F.redlabel {
		order: 5;
		width: 32%;
	}

	div#C {
		order: 6;
		width: 32%;
	}
	.J.redlabel {
		order: 2;
	}

	.H.redlabel {
		display: none;
	}

	.E.redlabel {
		display: none;
	}

	.D.redlabel {}

	.menuitems ul {
		margin: auto;
	}

	.image1 {
		position: relative;
		top: 25px;
		left: 50%;
		transform: translateX(-50%);
	}
	

	#gangs tr td:nth-child(odd) {
		text-align: left;
		font-size: 20px;
	}

	#VideoDIV {
		top: 0px;
	}
	.J.redlabel {
    position: absolute;
    top: 15px;
    right: 15px;
}
.J.redlabel #button {
    background: black;
    border: none;
    color: white;
}
.menuitems ul {
    opacity: 1;
    background: hsl(0deg 0% 0% / 62%);
}
.D.redlabel {
    background: hsl(0deg 0% 0% / 51%);
    text-align: center;
    font-size: 16px;
    padding: 10px;
}
.menuitems div#membersWrapper table tr:nth-child(odd) {
    background: none;
}

.menuitems div#membersWrapper table tr:nth-child(even) {
    background: hsl(236deg 54% 55% / 62%);
}
.image4, .image3 {
    left: 136px;
  /*   transform: translateX(-50%); */
    max-width: 100%;
}

.image3 {
position: relative;
top: 46px;
z-index: 1;
display: block;
left: 75px;
}

.image4 {
  position: relative;
top: 46px;
z-index: 1;
display: block;
left: 75px;
}
.table-responsive {
    overflow: auto;
}

.table-responsive table {
    width: 100%;
}

.table-responsive table td {
    min-width: 100px;
}
#GangCreation {
    margin: auto;
	max-width:100%
}
}
@media (max-width: 991px){
	#gangs tr td:nth-child(odd) {
		font-size: 16px;
	}
	.gangcreation_container label {
    display: block;
    text-align: left;
    font-size: 16px!important
}
div#menu h1 {
    font-size: 16px;
}
.I.redlabel {
    order: 4;
    width: 31%;
}
	#gangs tr td:nth-child(even) {
		font-size: 14px;
	}
	.login_container label {
    display: block;
    text-align: left;
    font-size: 21px;
}
.login_container label {
    display: block;
    text-align: left;
    font-size: 21px;
}

#butlogin {
    margin-bottom: 30px;
}
span.signup {
    font-size: 17px;
}
span.psw {
    font-size: 17px;
}
#avatars {
    display: flex;
    flex-wrap: wrap;
}
div#membersWrapper ul {
    width: 100%;
    max-width: 700px;
}

#member_display a {
    font-size: 16px;
}
a#Leaderboards_page {
    font-size: 20px;
}

a#main_menu {
    font-size: 21px;
}
a#gang_info {
    font-size: 16px;
}

}
@media (max-width: 767px){
	.I.redlabel, .F.redlabel, div#C {
		width: 100%;
		border: 1px solid white;
		margin-bottom: 30px;
	}
.B {
    font-size: 15px;
    padding: 10px;
}
.login_container {
    padding: 0px;
}
#avatars {
    width: 100%;
    padding-right: 30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
span#login {
    font-size: 16px;
}
.menuitems li {
    font-size: 17px;
}
.menuitems ul {
    padding-bottom: 24px;
}
}
	@media (max-width: 575px){
      .menuitems { 

	  }
}
	
/* .K {
font-family: 'Teko', sans-serif;
font-size: 1em;
overflow-y: auto;
grid-area: buttonz;
margin: auto;
}	 */
	#back {
		width: 40px;
	     z-index: 2;
	}
	
	
	.colorizable {
    filter:
        /* for demonstration purposes; originals not entirely black */
        contrast(1000%)
        /* black to white */
        invert(100%)
        /* white to off-white */
        sepia(100%)
        /* off-white to yellow */
        saturate(10000%)
        /* do whatever you want with yellow */
        hue-rotate(90deg);
}